*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    animation: shakeBody linear 6s infinite;

}

.sky{
    height: 100vh;
    width: 100%;
    position:absolute;
    background-image: url(./files/background.jpg);
    background-repeat: no-repeat;
}

.trees{
    height: 100vh;
    width: 100%;
    background-image: url(./files/trees.png);
    background-size: cover;
    position: absolute;
    top: -123px;
}

.track{
    height: 60vh;
    width: 800%;
    background-image: url(./files/track.png);
    /* background-size: cover; */
    background-repeat: repeat-x;
    position: absolute;
    top: 70vh;
    animation: carMove linear 6s infinite;

}

.car{
    height: 100px;
    width: 380px;
    background-image: url(./files/car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    bottom: 20vh;
    animation: shake linear 1s infinite;
}


.wheel1 img{
    width: 77px;
    position: relative;
    top: 40px;
    left: 44px;
    animation: wheelRotation linear 0.3s infinite;
}

.wheel2 img{
    width: 77px;
    position: relative;
    top: -39px;
    left: 235px;
    animation: wheelRotation linear 0.3s infinite;
}

@keyframes wheelRotation{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carMove{
    100%{
        transform: translateX(-500vw);
    }
}

@keyframes shake{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);

    }
    100%{
        transform: translateY(-5px);

    }
}

@keyframes shakeBody{
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);

    }
    100%{
        transform: translateY(-10px);

    }
}